.card {
  cursor: pointer;
}

h1,
h2,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

nav,
h2,
h3,
h4,
p {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 40px;
}

span {
  text-decoration: none;
  color: #000;
  position: relative;
}

span:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  background-color: #ffd800;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  padding: 7px 45px;
  margin: auto;
  border-radius: 50rem;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
  background-color: #ffd800;
}

/* Navbar */
nav .nav-link {
  font-size: 20px;
  color: #555555;
}

nav a:hover {
  color: #ffd800 !important;
}

/* BLOG */
.blog {
  padding-top: 100px !important;
}

.blog .text {
  color: #555555;
  font-size: 17px;
  max-width: 400px;
  height: auto;
  margin: auto;
}

.blog .button {
  margin: auto;
  margin-bottom: 20px;
}

/* CARD */
.card {
  margin: 30px auto;
  border-radius: 10px;
  
  height: 550px;
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.card-body {
  padding: 20px 0 20px 20px;
}

.blog h4 {
  /* width: 200px; */
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.blog .card p {
  font-size: 17px;
  color: #555555;
  margin-top: 30px;
}

/* ------------------------------------------------ */


@media (max-width: 600px) {

  .modal-img-mobile img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
  }

  .modal-img img {
    display: none;
  }
}


/* ------------------------------------------------ */

/* TABLET VERSION */
@media (max-width: 800px) {
  .card {
    /* max-width: 280px;
    height: 300px; */
  }

  .card-body {
    padding: 20px 30px 20px 20px;
  }

  .card h4 {
    /* width: 150px; */
    font-size: 15px;
  }

  .card p {
    font-size: 12px;
  }
}

/* ------------------------------------------------ */

/* DESKTOP VERSION */
@media (min-width: 992px) {
  .blog .text {
    min-width: 800px;
    font-size: 20px;
    height: auto;
    margin: auto;
  }

  .card {
    /* width: 301px;
    height: 390px; */
  }

  .card-body {
    padding: 30px;
  }

  .card h4 {
    /* width: 200px; */
    font-size: 20px;
  }

  .card p {
    font-size: 17px;
  }
}