@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom scroll bar */
/* ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3); 
}*/

a {
  text-decoration: none;
}

.content {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 100px;
}

.navbar {
  position: fixed;
  background-color: #fff;
  width: 100% !important;
  z-index: 999;
  padding: 30px 0;
  margin-top: -52px;
  transition: all 0.3s ease;
}

.navbar.sticky {
  background: #fff;
  padding: 20px 0;
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
  margin-top: 10px;
}

.menu-list li a {
  font-family: 'Roboto', sans-serif;
  color: #555555;
  font-size: 20px;
  font-weight: normal;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #ffd800;
}

.icon {
  color: #000;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.icon-sosmed-header {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 13px;
  background-color: #ffd800;
  border-radius: 50px;
  box-shadow: 2px 1px 0.1px 1px rgba(0, 0, 0, 0.1);
}

.icon-sosmed-header img {
  width: 28px;
  top: 50%;
  left: 50%;
  transform: translate(40%, 35%);
}

@media (max-width: 768px) {
  ul li a.active {
    color: #ffd800;
    border-bottom: 2.5px solid #ffd800;
    padding-bottom: 5px;
    transition: 0.6s;
  }
}
@media (min-width: 992px) {
  ul li a.active {
    color: #ffd800;
    border-bottom: 2.5px solid #ffd800;
    padding-bottom: 5px;
    transition: 0.6s;
  }
}

@media (min-width: 800px) {
  .icon-sosmed-navbar {
    display: none;
  }
}

@media (max-width: 830px) {
  body.disabled {
    overflow: hidden;
  }

  .icon-sosmed-header {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 13px;
    background-color: #ffd800;
    border-radius: 50px;
    box-shadow: 2px 1px 0.1px 1px rgba(0, 0, 0, 0.1);
  }

  .icon-sosmed-header img {
    width: 28px;
    top: 50%;
    left: 50%;
    transform: translate(40%, 35%);
  }

  .logo {
    margin: 0;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    color: #ffd800;
  }

  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 90%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0 0 50px;
    text-align: left;
    background: #fff;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list {
    left: 0%;
    padding-top: 100px;
  }

  .navbar .menu-list li {
    margin-top: 30px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .icon-sosmed-header {
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  /* .logo{
    margin-left: -10px; 
    margin-right: 150px;
  }

  .icon .menu-btn{
    margin-right: -90px;
  } */
}

@media (max-width: 768px) {
  .content {
    margin: auto;
    padding: 0 27px !important;
  }
}